@charset "UTF-8";
body {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #ffffff;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  margin: 0;
  width: 100%;
}

@media (min-width: 600px) {
  a {
    text-decoration: none;
    padding-bottom: 1px;
  }
  header .nav {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    z-index: 999;
    font-family: 'Duru Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    width: 100%;
  }
  header .nav ul {
    padding-left: 0;
  }
  header .nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 5px 2.94%;
  }
  header .nav ul li a {
    text-decoration: none;
    color: #000;
  }
  header .nav ul li a:hover {
    text-decoration: none;
    color: #bbb;
  }
}

@media only screen and (max-width: 599px) {
  html, body, ul, li, a, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  #top {
    max-width: 599px;
  }
  #logo h1 {
    display: block;
    font-family: 'Megrim', cursive;
    color: white;
    font-size: 3.5em;
    margin-top: 80%;
    background-color: rgba(0, 0, 90, 0.3);
  }
  .scroll {
    display: none;
  }
  #about {
    position: relative;
    top: 150px;
    padding-top: 0;
  }
  #about h2 {
    font-size: 1.5em;
  }
  #about #profile {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-right: 5%;
  }
  #about #profile ul {
    margin-top: 6%;
    line-height: 0.9em;
  }
  #about #profile img {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  #about .djs h4 {
    font-size: 1.5em;
  }
  #about .djs-text {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: 0.8em;
    line-height: 1.8em;
  }
  #top02 {
    position: relative;
    top: 150px;
  }
  #schedule h2 {
    font-size: 1.5em;
  }
  #schedule .futuretable,
  #schedule .pasttable {
    font-size: 1em;
    margin-top: 0;
  }
  #schedule table {
    padding: 0 0;
    font-size: 0.7em;
  }
  #news {
    position: relative;
    top: 150px;
  }
  #news h2 {
    font-size: 1.5em;
  }
  #news .news-contents {
    padding: 0 3% 0 3%;
  }
  #news .openBtn {
    width: 97%;
    padding: 3% 0% 3% 2%;
    margin-top: 6%;
    line-height: 1.1em;
  }
  #news .headlinedate {
    font-size: 0.8em;
  }
  #news .headlinetitle {
    font-size: 0.8em;
  }
  #news .news-japanese,
  #news .news-english {
    line-height: 1.6em;
  }
  #music .video,
  #music .audio {
    display: block;
    margin: 0 auto;
  }
  #music iframe {
    width: 100%;
  }
  #music .audio {
    padding-bottom: 0;
  }
  #music .music-contents {
    margin-bottom: 0;
  }
  #top04 {
    position: relative;
    top: 150px;
    padding-bottom: 0%;
  }
  #top04 #music h2 {
    font-size: 1.5em;
    padding-bottom: 1%;
  }
  #top04 #music h3 {
    font-size: 1.1em;
  }
  .area05 #contact {
    position: relative;
    top: 150px;
  }
  .area05 #contact h2 {
    font-size: 1.5em;
  }
  .area05 #contact p {
    font-size: 0.8em;
    margin-bottom: 0;
  }
  .area05 #contact input[type="name"] {
    color: #fff;
    font-size: 1.2em;
  }
  .area05 #contact input[type="email"] {
    color: #fff;
    font-size: 1.2em;
  }
  .area05 #contact #contact textarea {
    font-size: 1.1em;
  }
  .area05 #contact button {
    width: 30%;
    font-size: 0.8em;
    margin-bottom: 5%;
  }
  footer {
    display: none;
  }
  #linkabout {
    position: relative;
    top: 200px;
  }
  #linkschedule {
    top: 150px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header {
  position: relative;
}

.header__bg {
  position: inherit;
  background: #fff;
  height: 40px;
  padding-top: 10px;
}

.nav {
  position: absolute;
  top: 14px;
  margin-left: 10px;
}

li {
  display: inline-block;
  margin-right: 10px;
}

li a {
  color: #777;
}

li a:hover {
  color: #bbb;
}

@media screen and (max-width: 599px) {
  .header__bg {
    z-index: 999;
  }
  .nav {
    float: left;
    top: -500px;
    background: #333;
    width: 100%;
    margin-left: 0;
    padding: 20px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .nav li {
    display: block;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #FFF;
  }
  .nav a {
    color: #FFF;
  }
  .toggle {
    float: right;
    margin-right: 10px;
  }
  .toggle span {
    display: block;
    background: #333;
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
  }
  .open .nav {
    transform: translateY(551px);
  }
}

#top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  background-image: url("../images/68mono_resize.jpg");
  background-position: center center;
  /* 全体の背景画像 */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: -3;
}

h1 {
  display: block;
  font-family: 'Megrim', cursive;
  color: white;
  font-size: 6.1em;
  margin-top: 24%;
  margin-bottom: 0;
  position: scroll;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 90, 0.3);
}

h2 {
  font-family: 'Duru Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 2em;
}

.social-header {
  width: 100%;
  height: 50%;
  position: scroll;
}

.social-header ul {
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.social-header ul li {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
  text-align: center;
}

.social-header ul li:hover {
  border: #666 solid 1px;
}

.facebook-header,
.twitter-header,
.instagram-header,
.mixcloud-header,
.youtube-header {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  border: #fff solid 1px;
  border-radius: 3px;
}

.scroll {
  margin-top: 80px;
  text-align: center;
}

.scroll a {
  padding-top: 30px;
}

.scroll a span {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.scroll a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.scroll a span:nth-of-type(2) {
  top: 1px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.scroll a span:nth-of-type(3) {
  top: 2px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ここからabout & Jquery*/
#linkabout {
  height: 10px;
  margin-top: 79px;
  margin-bottom: 38px;
}

.area01 {
  width: 100%;
  height: auto;
  left: 0;
  background-color: #fff;
}

#about {
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: 0;
  padding-top: 0%;
  padding-bottom: 2%;
}

/* ここからbxslider*/
#about .bxslider {
  height: auto;
  margin-right: 0;
  padding-left: 0;
  width: 100%;
}

#about .bx-wrapper {
  height: 100%;
}

#about .bx-wrapper .bx-viewport {
  overflow: visible;
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #000;
  margin-bottom: 0%;
}

#about .bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: 0%;
}

/* ここまでbxslider*/
#about h2 {
  color: #000;
  margin: 0;
  padding-top: 2%;
  text-align: center;
}

#about p {
  color: #000;
  padding: 0;
}

#about li {
  margin-right: 0;
}

#profile {
  margin-top: 0;
  padding-left: 7%;
  display: flex;
  justify-content: space-between;
}

.djs img {
  width: 55%;
  height: 55%;
}

.profile_right {
  width: 100%;
  height: 100%;
  padding-right: 0%;
}

.profile_right ul {
  text-align: center;
  line-height: 1.5em;
  margin-top: 25%;
  padding-right: 0%;
  padding-left: 0%;
}

.profile_right ul li {
  list-style-type: none;
  display: inline-block;
  margin: 3px;
  margin-top: 1%;
  text-align: center;
}

.profile_right ul li:hover {
  border: #000 solid 1px;
}

.profile_right ul li img {
  background-size: cover;
  width: 32px;
  height: 32px;
}

.profile_right .facebook-header,
.profile_right .twitter-header,
.profile_right .mixcloud-header,
.profile_right .instagram-header {
  border: #666 solid 1px;
  border-radius: 3px;
}

.djs h4 {
  font-family: 'Duru Sans', sans-serif;
  font-size: 3em;
  margin: 0;
  text-align: center;
  color: #000;
}

.djs-text {
  padding-top: 1%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 7%;
}

.profile_japanese {
  text-align: left;
  margin-bottom: 0;
  color: #fff;
}

.profile_english {
  margin-top: 2%;
  margin-bottom: 0;
  text-align: left;
}

/* ここからschedule*/
#linkschedule {
  position: relative;
  top: -50px;
}

@media only screen and (max-width: 599px) {
  #linkschedule {
    top: 150px;
  }
}

.area02 {
  width: 100%;
  height: auto;
  z-index: 2;
}

#top02 {
  height: auto;
  background-image: url("../images/djtablemono.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

#schedule {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0;
  padding-top: 0%;
  padding-bottom: 5%;
}

#schedule h2 {
  margin-top: 0;
  padding: 2% 0 0;
  text-align: center;
}

#schedule li {
  margin-right: 0;
}

/* ここからbxslider*/
#schedule .bx-wrapper {
  height: auto;
}

#schedule .bxslider {
  height: auto;
  margin-right: 0;
  padding-left: 0;
  width: 100%;
}

#schedule .bx-wrapper {
  height: 100%;
}

#schedule .bx-wrapper .bx-viewport {
  overflow: visible;
  width: 100%;
  height: auto;
  padding-bottom: 4%;
  /*!!!!!!!全体のpadding bottom!!!!*/
  margin-bottom: 0%;
}

@media only screen and (max-width: 599px) {
  #schedule .bx-wrapper .bx-viewport {
    padding-bottom: 0%;
    /*!!!!!!!全体のpadding bottom!!!!*/
    margin-bottom: 0%;
  }
}

#schedule .bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: -5%;
}

@media only screen and (max-width: 599px) {
  #schedule .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: -3%;
  }
}

/* ここまでbxslider*/
li .tables {
  text-align: center;
}

.tabletitle {
  margin-top: 0%;
  text-align: center;
  padding: 0 10%;
}

.futuretable {
  font-size: 1.1em;
  margin-top: 5%;
  border-bottom: 2px solid rgba(180, 180, 0, 0.8);
}

.pasttable {
  font-size: 1.1em;
  margin-top: 5%;
  padding: 0%;
  border-bottom: 2px solid rgba(130, 0, 130, 0.8);
}

table {
  margin-top: 3%;
  padding: 0 0%;
  position: relative;
  width: 100%;
  font-size: 1.1em;
}

table tr {
  height: 50px;
}

table td {
  width: 33%;
}

#schedule a {
  text-decoration: none;
  color: #ffffff;
}

#schedule a:hover {
  color: #bbb;
}

/* ここからnews*/
#linknews {
  position: relative;
  top: -47px;
}

@media only screen and (max-width: 599px) {
  #linknews {
    top: 153px;
  }
}

.area03 {
  background-color: #fff;
  width: 100%;
  height: auto;
  z-index: 2;
}

#news {
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}

#news h2 {
  margin-top: 0;
  text-align: center;
  padding: 0 0;
  color: #000;
}

.news-contents {
  padding-left: 5%;
  padding-right: 5%;
}

.contents-title {
  width: 100%;
}

.openBtn {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  padding-right: 0;
  border: 1px solid #666;
  border-left: 1px solid #666;
  color: #666;
  margin: 3% 0 3% 0;
}

.openBtn:hover {
  opacity: 0.7;
  color: #000;
  background-color: rgba(60, 60, 0, 0.2);
  transition-duration: 0.2s;
}

.textArea {
  display: none;
  padding: 1% 3% 1% 3%;
  color: #666;
}

.faColor {
  color: #666;
}

.headlinedate {
  font-size: 1em;
  margin-bottom: 0;
  font-family: 'Duru Sans', sans-serif;
}

.headlinetitle {
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  font-family: 'Duru Sans', sans-serif;
}

.news-japanese,
.news-english {
  color: #000;
  font-size: 0.8em;
  line-height: 1.8em;
}

/* ここからmusic*/
#linkmusic {
  position: relative;
  top: -40px;
}

@media only screen and (max-width: 599px) {
  #linkmusic {
    top: 153px;
  }
}

.area04 {
  width: 100%;
  height: auto;
  z-index: 2;
}

#top04 {
  height: 100%;
  background-image: url("../images/headphone.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 5%;
  z-index: 1;
}

#music h2 {
  color: #fff;
  font-size: 2em;
  margin-top: 0;
  padding: 2% 0 30px;
  text-align: center;
}

.music-contents {
  margin: 4% 0 4% 0;
  width: 100%;
}

#music h3 {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Duru Sans', sans-serif;
  border-bottom: 1px solid #fff;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

iframe {
  width: 30%;
  border: 1px solid #666;
  filter: brightness(70%);
}

iframe:hover {
  filter: brightness(100%);
  transition-duration: 0.3s;
}

.video,
.audio {
  width: 80%;
  margin: 1% auto;
  margin-top: 0;
  padding: 2% 0;
  display: flex;
  justify-content: space-around;
}

/* ここからcontact*/
#linkcontact {
  position: relative;
  top: -45px;
}

@media only screen and (max-width: 599px) {
  #linkcontact {
    top: 30px;
  }
}

.area05 {
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0% 0 0% 0;
}

#contact {
  color: #000;
  height: 100%;
  margin: 0;
  background-image: url("../images/kansyumono.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  padding-bottom: 0%;
}

#contact p {
  font-family: 'Duru Sans', sans-serif;
}

#contact h2 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.form-group {
  color: #fff;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  background-color: #000;
  margin: 2% auto;
  opacity: 0.7;
}

#contact p {
  margin-top: 0;
}

input[type="name"] {
  border: 2px solid #666;
  color: #fff;
  font-size: 1.2em;
  height: 2em;
  margin-top: 7%;
}

input[type="email"] {
  border: 2px solid #666;
  color: #fff;
  font-size: 1.2em;
  height: 2em;
}

#contact textarea {
  color: #fff;
  font-size: 1.1em;
  font-family: 'Duru Sans', sans-serif;
  border: 2px solid #666;
}

button {
  width: 20%;
  height: auto;
  font-size: 1.1em;
  background-color: #000;
  border: 2px solid #666;
  color: #bbb;
  padding: 1% 0;
  opacity: 0.7;
  margin-bottom: 7%;
}

button:hover {
  background-color: #fff;
  color: #000;
  opacity: 0.8;
  transition-duration: 0.5s;
}

/* ここからfooter*/
footer {
  width: 100%;
  margin-top: 0;
  background-color: #fff;
  padding-bottom: 3%;
}

footer h2 {
  color: #bbb;
  text-align: center;
  font-size: 0.8em;
  margin-top: 0;
  padding: 3% 0 3% 0;
}

.linkimg {
  width: 90%;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

footer img {
  width: 100px;
  height: 100px;
}

.tokyohousecollective {
  width: 100px;
  height: 60px;
}

.cielo {
  height: 70px;
}

.v2tokyo {
  height: 54px;
}
