@charset "UTF-8";
body {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #ffffff;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  margin: 0;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: 'Duru Sans', sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  width: 100%;
}

header ul {
  padding-left: 0;
}

header ul:hover {
  color: #000;
}

header ul li {
  list-style-type: none;
  display: inline-block;
  margin: 5px 30px;
}

header ul li:hover {
  color: #000;
}

header ul li a {
  color: #000;
}

header ul li a:hover {
  color: red;
}

#top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  background-image: url("../images/68mono_resize.jpg");
  background-position: center center;
  /* 全体の背景画像 */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: -3;
}

/*
#social-icons-top .social-header ul li {
}*/
h1 {
  display: block;
  font-family: 'Megrim', cursive;
  color: white;
  font-size: 100px;
  margin-top: 300px;
  margin-bottom: 0;
  position: scroll;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 90, 0.3);
}

h2 {
  font-family: 'Duru Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #666666;
}

#about p {
  color: #000;
  padding: 10px;
  padding-right: 100px;
}

.social-header {
  width: 100%;
  height: 50%;
  position: scroll;
}

.social-header ul {
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.social-header ul li {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
  text-align: center;
}

.social-header ul li:hover {
  border: red solid 1px;
}

.facebook-header,
.twitter-header,
.instagram-header,
.mixcloud-header,
.youtube-header {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  border: #fff solid 1px;
  border-radius: 3px;
}

.facebook-header :hover {
  width: 32px;
  height: 32px;
  background-image: url("../images/icon2/twitter.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.scroll {
  margin-top: 80px;
  text-align: center;
}

.scroll a {
  padding-top: 30px;
}

.scroll a span {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.scroll a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.scroll a span:nth-of-type(2) {
  top: 1px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.scroll a span:nth-of-type(3) {
  top: 2px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ここからabout & Jquery*/
#linkabout {
  height: 10px;
  margin-top: 79px;
  margin-bottom: 42px;
}

.area01 {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
}

#about {
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

#about h2 {
  color: black;
  font-weight: bold;
  margin: 0;
}

.abouth2 {
  margin-bottom: 0px;
  background-color: #fff;
  height: 60px;
  text-align: center;
  display: block;
}

#about .bx-viewport {
  background-color: #fff;
  color: #000;
  margin-top: -25px;
  margin-bottom: 40px;
}

#about .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -40px;
}

.djs {
  margin-top: 0px;
  padding: 0 10px;
}

.djs img {
  margin: 0 auto;
  float: left;
  padding: 10px 10px;
  width: 45%;
}

#profile {
  margin-top: -20px;
  line-height: 3.5em;
  vertical-align: middle;
}

.profile_name {
  font-family: 'Duru Sans', sans-serif;
  float: left;
  margin-left: 130px;
  padding-top: 100px;
  text-align: center;
  color: #000;
  font-size: 3em;
}

.djs-text {
  margin-top: 0px;
  float: left;
}

.profile_japanese {
  float: left;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0;
  color: #000;
}

.profile_english {
  float: left;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: left;
  color: #000;
}

/* ここからschedule*/
#linkschedule {
  position: relative;
  top: -50px;
}

.area02 {
  width: 100%;
  height: 700px;
  z-index: 2;
}

#top02 {
  height: 700px;
  background-image: url("../images/djtablemono.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.area02 h2 {
  margin-top: 0;
  padding: 30px 0 30px;
  text-align: center;
}

#schedule .bx-viewport {
  background: transparent;
  height: 600px;
  z-index: 1;
}

table {
  position: relative;
  left: -20px;
  width: 100%;
  padding: 0 100px 0 0;
  font-size: 1.2em;
}

table tr {
  height: 50px;
}

table td {
  width: 33%;
}

#schedule .bx-wrapper {
  height: 600px;
}

/* ここからnews*/
.area03 {
  background-color: #fff;
  width: 100%;
  height: 700px;
  z-index: 2;
}

#news {
  margin-top: 79px;
  background-color: #fff;
  color: #000;
  margin: 0;
}

#news h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 20px;
  text-align: center;
  color: #000;
}

#news li {
  width: 90%;
}

#news li img {
  width: 30%;
  height: 30%;
  float: right;
  margin: 30px;
  padding-right: 40px;
}

#news li .news-contents {
  float: left;
  text-align: left;
  margin: 10px;
}

#news li .headlinedate {
  font-weight: bold;
  font-size: 1.2em;
}

#news li .headlinetitle {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
}

#news p {
  color: #000;
  margin: 0;
}

.area04 {
  width: 100%;
  height: 1000px;
  z-index: 2;
}

#top04 {
  height: 1000px;
  background-image: url("../images/headphone.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.area04 h2 {
  margin-top: 0;
  padding: 30px 0 30px;
  text-align: center;
}

/* ここからcontact*/
.area05 {
  background-color: #fff;
  width: 100%;
  height: 700px;
  z-index: 2;
}

#contact {
  margin-top: 79px;
  background-color: #fff;
  color: #000;
  height: 700px;
  margin: 0;
  background-image: url("../images/kansyumono.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

#contact h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.form-group {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  background-color: #000;
  margin: 10px auto;
  opacity: 0.7;
}

input[type="name"] {
  height: 3em;
}

input[type="email"] {
  height: 3em;
}

button {
  background-color: #bbbbbb;
  color: black;
  opacity: 0.7;
}
