@charset "UTF-8";

body {
	background-color: rgba(30,0,0,.2);
font-family: 'Megrim', cursive;
font-size:200px;
text-align: center;
color:#000;
}
h1 {
	position:fixed;
	margin: 0 auto;
	text-align: center;
	padding-left: 200px;
}
